[submodule "foundations/tools/foundry/simple-storage-f23/lib/forge-std"]
	path = foundations/tools/foundry/simple-storage-f23/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundations/tools/foundry/fund-me-cu/lib/forge-std"]
	path = foundations/tools/foundry/fund-me-cu/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundations/tools/foundry/fund-me-cu/lib/chainlink-brownie-contracts"]
	path = foundations/tools/foundry/fund-me-cu/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundations/tools/foundry/fund-me-cu/lib/foundry-devops"]
	path = foundations/tools/foundry/fund-me-cu/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
[submodule "foundations/tools/foundry/smart-contract-lottery-cu/lib/forge-std"]
	path = foundations/tools/foundry/smart-contract-lottery-cu/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundations/tools/foundry/smart-contract-lottery-cu/lib/chainlink-brownie-contracts"]
	path = foundations/tools/foundry/smart-contract-lottery-cu/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundations/tools/foundry/smart-contract-lottery-cu/lib/solmate"]
	path = foundations/tools/foundry/smart-contract-lottery-cu/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "foundations/tools/foundry/smart-contract-lottery-cu/lib/foundry-devops"]
	path = foundations/tools/foundry/smart-contract-lottery-cu/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "foundations/tools/foundry/ERC20-f23/lib/forge-std"]
	path = foundations/tools/foundry/ERC20-f23/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundations/tools/foundry/ERC20-f23/lib/openzeppelin-contracts"]
	path = foundations/tools/foundry/ERC20-f23/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundations/tools/foundry/NFT-f23/lib/forge-std"]
	path = foundations/tools/foundry/NFT-f23/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundations/tools/foundry/NFT-f23/lib/openzeppelin-contracts"]
	path = foundations/tools/foundry/NFT-f23/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundations/tools/foundry/NFT-f23/lib/foundry-devops"]
	path = foundations/tools/foundry/NFT-f23/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
[submodule "foundations/tools/foundry/defi-stablecoin-f23/lib/forge-std"]
	path = foundations/tools/foundry/defi-stablecoin-f23/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundations/tools/foundry/defi-stablecoin-f23/lib/openzeppelin-contracts"]
	path = foundations/tools/foundry/defi-stablecoin-f23/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundations/tools/foundry/defi-stablecoin-f23/lib/chainlink-brownie-contracts"]
	path = foundations/tools/foundry/defi-stablecoin-f23/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundations/tools/foundry/merkle-airdrop/lib/forge-std"]
	path = foundations/tools/foundry/merkle-airdrop/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
